footer
{
    background-color: #B22D30;
    color: #ffffff;
}

h1, .h1 
{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2%;
    color: #000
}

body 
{
    margin-left: 5%;
    margin-right: 5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: justify;
    background-color: rgb(227, 229, 231);
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
span
{
    display:none;
    background-color: #B22D30;
    color: rgb(227, 229, 231);
}

.imagem
{
    display: flex;
    width: 100%;
    height: 500px;
}

.center
{
    text-align: center;
}

fieldset
{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}

.logomarca {
    display: block;
    height: 40px;
}
.tr-click {
    cursor: pointer;
}
.td-userlist {
    width : 16em;
}
.col-filtro {
    padding: 0.6em 1em;
    background-color: #cfcfcf;
}
.label-filtro {
    padding-right: 1em;
}

legend {
    white-space: normal;
    display: table; /* IE10 */
    width: auto;
    padding: 0 0.3em;
}

.btn-submit-row {
    margin: 1em 0em;
}
/* customização do menu */

.custom-nav-link {
    color: #ffffff;
    display: block;
    padding: 0rem 1rem;
}
.custom-nav-link:hover, .custom-nav-link:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #901b1d;
    border-radius: 0.25em;
}
.custom-nav-link.disabled {
    color: #ffffff;
}
.custom-active {
    background-color: #901b1d;
    border-radius: 0.25em;
}
.custom-dropdown-active {
    background-color: #901b1d!important;
    border-radius: 0.25em;
    color: #ffffff!important;
}
.navbar-nav {
    height: 1.6em;
}

/* custom link */

.custom-link {
    color: #ffffff;
}
.custom-link:hover, .custom-link:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #901b1d;
}
.custom-link.disabled {
    color: #ffffff;
}


/* customização do drop-menu */

.custom-dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .custom-dropdown-item:hover, .custom-dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #901b1d;
  }
  
  .custom-dropdown-item.active, .custom-dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #901b1d;
  }
  
  .custom-dropdown-item.disabled, .custom-dropdown-item:disabled {
    color: #6c757d;
    background-color: transparent;
  }

  /* pagina de produtos */

  .botoes-produtos {
    padding-top: 94px;
  }
  .qtd-size {
      width: 4em;
  }
  .btn-acao-produto {
      color: #000;
      cursor: pointer;
      font-size: 1em;
  }
  .btn-finalizar-compra {
    margin-top: 2em;
  }
  .no-padding {
    padding: 0px;
  }
  .largura-preco {
      width: 6em;
  }
  .td-acao-produto {
    width: 3em;
    text-align: center;
  }
  .col-fieldset {
      width: 50%;
  }
  .scroll-container {
      overflow-x: hidden;
      overflow-y: auto;
  }
  .produtos-disp-cont {
    width: 100%;
    height: 400px;
    margin-top: 1em;
  }